<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>TILs: {{tag}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{base_url}}style.css">
    </head>
    <body>
        <a href="{{base_url}}">Index</a>

        <h1>TILs for {{tag}}</h1>

        <hr>

        {{#each tils}}
        <div class="til">
            <header class="til-header">
                <h3><a class="til-title" href="{{@root.base_url}}post/{{(slugify meta.title)}}">{{meta.title}}</a></h3>
                <span class="til-date">{{meta.date}}</span>
                {{#each meta.tags}}
                <a class="til-tag" href="{{@root.base_url}}category/{{this}}">
                    <span>{{this}}</span>
                </a>
                {{/each}}
            </header>
        </div>
        {{/each}}
    </body>
</html>
