<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <a href="..">Index</a>

        <h1>TILs for {{tag}}</h1>

        {{#each tils}}
        <div class="til">
            <header class="til-header">
                <h3><a class="til-title" href="til/{{(slugify meta.title)}}">{{meta.title}}</a></h3>
                <span class="til-date">{{meta.date}}</span>
                {{#each meta.tags}}
                <a class="til-tag" href="category/{{this}}">
                    <span>{{this}}</span>
                </a>
                {{/each}}
            </header>
        </div>
        {{/each}}
    </body>
</html>
