<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>TILs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="{{config.base_url}}index.js"></script>
        <link rel="stylesheet" href="{{config.base_url}}style.css">
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{config.base_url}}feed.rss">
        {{#if config.mastodon}}
        <meta name="fediverse:creator" content="{{ config.mastodon }}">
        {{/if}}
    </head>
    <body>
        {{> _top-links}}

        <h1>TILs</h1>

        {{#if index_fragment}}
        <div class="index-content">
            {{{index_fragment}}}
        </div>
        {{/if}}

        <h2>TILs by topic</h2>
        <div class="by-topic">
            <p>
                Sort <button class="sort" onclick="sortAlpha()">alphabetically</button>,
                or <button class="sort" onclick="sortCount()">by count</button>.
            </p>
            <ul class="topic-list">
                {{#each tag_counts}}
                <li class="topic-list-tag">
                    <a class="til-tag" href="{{@root.config.base_url}}category/{{@key}}">
                        <span>{{@key}}</span>
                        <span class="til-tag-count">{{this}}</span>
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>

        <h2>Recent TILs</h2>
        <div class="recent">
            {{#each recent}}
            <div class="recent-til">
                <header class="til-header">
                    <h3><a class="til-title" href="{{@root.config.base_url}}post/{{(slugify meta.title)}}">{{meta.title}}</a></h3>
                    <span class="til-date">{{meta.date}}</span>
                    {{#each meta.tags}}
                    <a class="til-tag" href="{{@root.config.base_url}}category/{{this}}">
                        <span>{{this}}</span>
                    </a>
                    {{/each}}
                </header>
            </div>
            {{/each}}
        </div>
    </body>
</html>
